body
    background-color $colors['main']

.hide
    opacity 0

.segundo-foco
    bottom: 0;
    left: 0;

.foco-leitura, 
.segundo-foco
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(154,153,153,0.8);

.foco-leitura
    top: 0;
    left: 0;

.clicavel.ativo 
    border: 1px solid transparent;
    border-radius: 50%

.font-2x
    font-size 20px

.font-3x
    font-size 21px

.font-4x
    font-size 22px

@media screen and (max-width: 340px)
    .background-leort
        background-image: url('../img/leort-solo.png')
        background-size: 400px
        background-repeat: no-repeat;
        background-position: 40px 70%    
    .background-topo
        background-image: url(../img/texto-banner-instagram.png)
        background-size: 215px
        background-repeat: no-repeat
        background-position-y: bottom
    .background-instagram
        background-image: url(../img/img-insta-mob.jpg)
        background-size: 200px
    .background-update-striort
        background-image url(../img/update-striort-mobile.png)
        background-repeat no-repeat
        background-position: bottom center;
        background-size: 350px;
        background-color: #107e6a;
