.conteudo > *
    border-bottom 1px solid $colors['second'];
    padding 20px 10px
    &:last-child
        border 0 solid $colors['second'];

.referencia
    ul
        list-style none 
        padding-left 0
        li
            a
                color $colors['text'];
                text-decoration underline

.item
    a
        color $colors['text'];
        text-decoration underline