header
	height: auto
	padding-top 25px
	position: fixed
	left 0
	top: 0
	width: 100%
	z-index 4
	.container
		padding-bottom: 20px

.center-vertical
	@extends .flex-center-vertical

.logo
	width 400px
	position absolute
	top 25vh
	left 50%
	margin-left -195px


.banners
	position relative
	border-bottom 2px solid $colors['second'];
	padding-left 0
	padding-right 0


.filtro
	width 100%
	height 660px
	background-color rgba(0,0,0,0.6)

.benner-full
	background-image url('/img/banner1.jpg')
	width 100%
	height 660px
	background-repeat no-repeat
	background-size cover
	background-position center center

.benner-full2
	background-image url('/img/banner2.jpg')
	width 100%
	height 660px
	background-repeat no-repeat
	background-size cover
	background-position center center

.benner-full3
	background-image url('/img/banner3.jpg')
	width 100%
	height 660px
	background-repeat no-repeat
	background-size cover
	background-position center center

footer
	@extend .text-inverse
	p 
		@extend .light



.arrow
	top 34%
	position absolute
	z-index 2
	cursor: pointer
	
.bnt-acessibilidade
	background-color #fff;
	background-image url('/img/acessibilidade.png')
	width 40px
	height 40px
	background-repeat no-repeat
	background-position center center
	background-size 24px 
	border-radius 50%
	padding 10px
	margin-left 30px
	border 2px solid $colors['second'];
	position fixed
	top 15px
	right 80px
	z-index: 2;

.btn-acessiveis
	position absolute
	ul
		list-style none
		background-color #fff
		padding-left: 0;
		padding: 7px;
		border-radius: 20px;
		padding-top: 40px;
		li
			text-align center
			margin-bottom: 5px
			&:last-child
				margin-bottom 0
			img 
				width 30px
				margin auto

.btn-acessiveis 
	position absolute
	right 78px
	top 0
	cursor pointer

.colorheader
	background-color $colors['third'];
	padding 20px 0
	border-bottom 1px solid $colors['second'];
	box-shadow 0 0 3px $colors['second'];

.header-interno
	padding-top 0

@media screen and (max-width: 1024px)
	.logo
		top 16vh

@media screen and (max-width: 992px)
	header
		height: auto
		background-repeat: repeat-x
		padding-top 15px
		.container
			padding-bottom: 15px
	.bnt-acessibilidade
		right 15px
		top 15px

@media screen and (max-width: 768px)
	.bnt-acessibilidade
		right 30px
		top 15px
		background-size 16px

@media screen and (max-width: 695px)
	.logo
		margin-left -100px
		width 200px
		top 30vh

@media screen and (max-width: 320px)
	.bnt-acessibilidade
		width: 30px;
		height: 30px;
		top: 12px;
		right: 15px;


// slicks dots
.slick-dots
	position: absolute;
	bottom: 10px
	z-index: 2;
.slick-dotted.slick-slider
	margin-bottom: 0

.slick-dots li button:before
	font-size: 12px
	color: $colors['text']
.slick-dots li.slick-active button:before
	font-size: 12px
	color: $colors['text']
	opacity 1

	
