.fechar-menu
    position: absolute
    right 10px
    top 10px
    cursor pointer
    img
        max-width 30px
.menu-mob-flutuante
    display flex
    width: 100%
    height 100%
    position: fixed
    z-index 999999999
    top 0
    left 0;
    justify-content: center
    background-color alpha(white, 1)
.display-menu-mob
    flex-direction: column
    display: flex
    align-self: center
    justify-content: center
    padding: 0
    li
        list-style: none
        text-align: center
        font-size: 16px
        margin-top 10px
        a
            text-decoration: none
            color: $colors['black']
            transition: .3s
            &:hover
                color: $colors['black']
                font-weight: bold
                text-decoration underline
            &.ativo
               color: $colors['black']
               font-weight: bold
               text-decoration underline
.display-menu
    padding: 0
    margin 0
    display: flex
    justify-content: center
    li
        list-style: none
        margin-right: 40px
        font-size: 14px
        letter-spacing: 1.2px
        font-weight bold
        &:last-child
            margin-right: 0
        a
            text-decoration: none
            color: $colors['text'];
            transition: .3s
            &:hover
                color: $colors['text'];
                font-weight: bold
                border-bottom 2px solid $colors['second'];
                transition 1s
            &.ativo
               color: $colors['text'];
               font-weight: bold
               border-bottom 2px solid $colors['second'];
               transition 1s
.menu-mob
    cursor pointer
    span.icon-bar
        margin-top 4px
        width: 30px
        height 4px
        display: block
        border-radius 3px
        background-color: $colors['text']


.menu-interno
    display flex
    align-items: center
    justify-content: center;
    & > *
        margin-right 15px

.logo-interno
    margin-right: 50px;
    img
        width 100px

.item-sub-menu
    position relative
    overflow hidden
    .sub-menu
        text-align: left;
        position: absolute;
        width: 200px;
        padding-left: 0;
        background-color $colors['third'];
        padding 10px
        border 1px solid $colors['second'];
        opacity 0
        transform translate(0,100%)
        transition 1s
    &:hover
        overflow visible
        .sub-menu
            transform translate(0,0)
            opacity 1

@media screen and (max-width: $queries['medium'])
    .display-menu
        li
            margin-right: 20px
            font-size: 14px
@media screen and (max-width: $queries['small'])
    .display-menu
        li
            margin-right: 15px
            font-size: 14px

@media screen and (max-width:991px)
    .header-interno
        background-color $colors['third'];
        border-bottom 1px solid $colors['second'];
    .menu-interno
        justify-content: center;
        width: 100%;
    .menu-mob
        margin-left 20px


