extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Deficiêntes Auditivos
                                .conteudo
                                    .item
                                        h4.text-left O que é a deficiência auditiva:
                                        p A surdez é caracterizada como a redução ou ausência da capacidade de ouvir determinados 
                                            | sons e pode ser classificada em dois tipos: perda auditiva condutiva, que se dá 
                                            | geralmente por obstrução da orelha externa como, tampões de cera, infecções no canal 
                                            | do ouvido, tímpano com ruptura ou perfurado; e perda auditiva neurossensorial, que 
                                            | compreende danos nas células ciliadas da cóclea. Sobre as causas, esta pode ser 
                                            | congênita, causada por rubéola gestacional, medicamento tomados pela gestante, 
                                            | hereditariedade e complicações no parto como a anóxia (fornecimento insuficiente de 
                                            | oxigênio), ou pode ser adquirida por consequência de otites de repetição na infância, 
                                            | mau uso de antibióticos e até viroses.

                                    .item
                                        h3.text-center Como fazer o layout respeitando as necessidades dos deficientes auditivos:
                                        h4.pd-40-top.text-left Utilizar imagens e ícones para deixar o site intuitivo, assim ele pode deduzir do que  
                                            | se trata sem ler.
                                        p DECRETO Nº 5.626, DE 22 DE DEZEMBRO DE 2005. Art. 2º Para os fins deste Decreto, considera-se 
                                            | pessoa surda aquela que, por ter perda auditiva, compreende e interage com o mundo por meio de 
                                            | experiências visuais, manifestando sua cultura principalmente pelo uso da Língua Brasileira de 
                                            | Sinais - Libras.
                                        
                                    .item
                                        h4.pd-20-top.text-left Disponibilizar canais de comunicação não verbal
                                        p Como e-mail para que ele consiga entrar em contato com a empresa. Se a empresa possuir canais 
                                            | de comunicação pelo facebook, twitter, ou qualquer outra rede social também deixar 
                                            | disponível, pois ele poderá optar pelo canal que ele se sente mais à vontade, que utiliza 
                                            | mais, isso vai melhorar não só a acessibilidade, mas a usabilidade também para os demais 
                                            | usuários.
                                        p Art. 112.  A Lei n o 10.098, de 19 de dezembro de 2000 <br>
                                            |IX - comunicação: forma de interação dos cidadãos que abrange, entre outras opções, as línguas, 
                                            | inclusive a Língua Brasileira de Sinais (Libras), a visualização de textos, o Braille, o sistema de 
                                            | sinalização ou de comunicação tátil, os caracteres ampliados, os dispositivos multimídia, assim como 
                                            | a linguagem simples, escrita e oral, os sistemas auditivos e os meios de voz digitalizados e os 
                                            | modos, meios e formatos aumentativos e alternativos de comunicação, incluindo as tecnologias da 
                                            | informação e das comunicações;
                                        p X - desenho universal: concepção de produtos, ambientes, programas e serviços a serem usados por 
                                            | todas as pessoas, sem necessidade de adaptação ou de projeto específico, incluindo os 
                                            |recursos de tecnologia assistiva.” (NR).

                                    .item
                                        h4.pd-20-top.text-left Utilizar legendas nos vídeos
                                        p o bilingüismo propõe que o surdo desenvolva habilidades para se comunicar utilizando a Língua de 
                                            |sinais e as técnicas do oralismo. 




                    .row
                        .col-sm-12
                            .bg-interno
                                h4.text-left.pd-20-bottom Referências
                                .referencia
                                    ul
                                        li 
                                            a(href="http://www.scielo.br/pdf/ptp/v32nspe/1806-3446-ptp-32-spe-e32ne210.pdf") Surdez e diagnóstico: narrativas de surdos adultos
                                        li 
                                            a(href="http://revistas.ufcg.edu.br/ch/index.php/RLR/article/viewFile/575/378") Imagem e Texto: a Intertextualidade na educação de surdos
                                        li 
                                            a(href="http://www.planalto.gov.br/ccivil_03/LEIS/L10098.htm") Lei N° 10.098, de 19 de dezembro de 2000
                                   
                                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")