extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Desenvolvendo o layout pensando em:
                                .dica
                                    .col-md-5.col-md-offset-1.col-sm-6.col-sm-offset-0.col-xs-12
                                        .bg-dica
                                            a(href="http://localhost:3000/autistas.html")
                                                img.img-resposive.center-block(src="img/autista.png", alt="imagem de uma criança autista brincando")
                                                .titulo-dica
                                                    h3.text-center Autistas
                                    .col-md-5.col-sm-6.col-sm-offset-0.col-xs-12
                                        .bg-dica
                                            a(href="http://localhost:3000/audicao.html")
                                                img.img-resposive.center-block(src="img/audicao.png", alt="imagem de uma criança autista brincando")
                                                .titulo-dica
                                                    h3.text-center Deficiêntes Auditivos
                                .dica
                                    .col-md-5.col-md-offset-1.col-sm-6.col-sm-offset-0.col-xs-12
                                        .bg-dica
                                            a(href="http://localhost:3000/dislexos.html")
                                                img.img-resposive.center-block(src="img/dislexo.png", alt="imagem de uma criança autista brincando")
                                                .titulo-dica
                                                    h3.text-center Dislexos
                                    .col-md-5.col-sm-6.col-sm-offset-0.col-xs-12
                                        .bg-dica
                                            a(href="http://localhost:3000/visao.html")
                                                img.img-resposive.center-block(src="img/baixa-visao.png", alt="imagem de uma criança autista brincando")
                                                .titulo-dica
                                                    h3.text-center Baixa Visão


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")