extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Dislexia
                                .conteudo
                                    .item
                                        h4.text-left O que é a Dislexia:
                                        p O termo dislexia denota da dificuldade em ler e escrever, sendo assim, é considerado 
                                            | um transtorno de aprendizagem, uma vez que precisa de um tratamento especial para 
                                            | que haja desenvolvimento cognitivo. “A dislexia é frequentemente acompanhada de 
                                            | transtornos na aprendizagem da escrita, ortografia, gramática e redação.” 
                                            | (CONDEMARIN, BLOMQUIST, 1986, p.21). Assim, “a causa para esse distúrbio na 
                                            | leitura é causada por um defeito congênito no cérebro, afetando a memória visual 
                                            | de letras e palavras. ” (ROTTA, 2006).


                                    .item
                                        h3.text-center Como fazer o layout respeitando as necessidades dos disléxicos:
                                        h4.pd-40-top.text-left A forma como o texto é disposto pode ajudar ou atrapalhar a leitura 
                                        p Por isso não é aconselhável deixar todas as letras maiúsculas.
                                        p Não justificar e não centralizar os textos, pois ao fazer isso você cria uns espaços a mais 
                                            | entre as palavras, o famoso “caminho de rato”, que dificulta a leitura para um disléxico. 
                                            | O ideal é deixar o texto alinhado à esquerda.
                                        
                                    .item
                                        h4.pd-20-top.text-left Não os forçar a guardar informações
                                        p Os disléxicos fazem o dobro do esforço que nós fazemos para ler e entender o que está escrito, 
                                            | seria desagradável ainda o forçar a guardar informações para utilizar alguma ferramenta do 
                                            | site.

                                    .item
                                        h4.pd-20-top.text-left Não usar o placeholder como label
                                        p A fazer isso você estará ajudando a todos os usuários do site, não somente os disléxicos.

                                    .item
                                        h4.pd-20-top.text-left Não usar o underline nas palavras
                                        p Dificulta a leitura, deixar apenas nos links se necessário. 

                                    .item
                                        h4.pd-20-top.text-left Não utilizar cores com muito contraste e não deixar o texto na cor preto puro (#000)
                                        p Pois como eles se esforçam mais para ler, muito contraste pode incomodá-los, até mesmo causar uma dor de cabeça. 

                                    .item
                                        h4.pd-20-top.text-left Usar breadcrumb nas páginas
                                        p Para que eles não tenham que decorar o caminho que fizeram até aquela página. 

                                    .item
                                        h4.pd-20-top.text-left Em formulários usar uma descrição, caso o preenchimento do campo esteja errado
                                        p Para ajudá-lo a entender onde está o erro. Não passar feedback apenas por cor, pois não estará prejudicando apenas os disléxicos mas também os daltônicos.

                                    .item
                                        h4.pd-20-top.text-left Evitar colocar vídeos de fundo
                                        p Como background, ou gifs, pois irá tirar a atenção dele.

                                    .item
                                        h4.pd-20-top.text-left Não colocar carrossel automático
                                        p sempre colocar a opção de o usuário pausar o carrossel, isso ajudará não apenas na 
                                            |acessibilidade do site, mas também a usabilidade para todos os usuários.

                                    .item
                                        p Rotta conclui ainda que a dislexia:
                                        p É um transtorno específico das operações implicadas no reconhecimento das palavras (precisão e 
                                            | rapidez) que compromete, em maior ou menor grau, a compreensão da leitura, é um problema 
                                            | persistente até a vida adulta, afeta um subconjunto, claramente minoritário, dos alunos com 
                                            | problemas na aprendizagem da leitura e da escrita, está presente desde os primeiros anos de 
                                            | escolaridade, é um distúrbio com evidências genéticas que surge por estar associado a 
                                            | diferenças funcionais no hemisfério esquerdo, é diagnosticada em indivíduos com capacidade 
                                            | intelectual normal, ocorre em sujeitos que têm visão e audição normal ou corrigida e que 
                                            | não são portadores de problemas psíquicos ou neurológicos graves que possam justificar, por 
                                            | si só, as dificuldades escolares, pode estar presente mesmo em indivíduos que tiverem 
                                            | escolarização adequada, supõe, como déficit primário, inabilidades do processamento 
                                            | fonológico e da memória, representa em uma linha de desempenho quantitativo para a leitura, 
                                            | requer um tratamento que envolve um processo lento, necessita de uma equipe multidisciplinar 
                                            | para seu diagnóstico e tratamento. (2006, p. 167 e 168).
                                        p Contudo, podemos analisar que: 
                                        p Considerando a dislexia um transtorno linguístico e a sua característica de persistência dos 
                                            | problemas da infância a vida adulta, é possível que se descrevem manifestações nas diferentes 
                                            | fases, traçando o caminho (ou descaminho) do desenvolvimento da linguagem. (ROTTA, 2006, p. 
                                            | 170-171).




                    .row
                        .col-sm-12
                            .bg-interno
                                h4.text-left.pd-20-bottom Referências
                                .referencia
                                    ul
                                        li 
                                            a(href="http://eventos.seifai.edu.br/eventosfai_dados/artigos/semic2016/491.pdf") Dislexia e seus impactos na vida escolar e social
                                   
                                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")