extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Ferramentas Acessíveis
                                .conteudo
                                    .item
                                        p Nesse site utileizei duas ferramentas bem simples de fazer e que já ajudam muito aqueles que possuem
                                            | baixa visão ou qualquer outra dificuldade para leitura.
                                        
                                        p A primeira é o botão que cria um efeito de "foco", apagando um pouco os elementos do fundo para que o 
                                            | usuário possa se concentrar melhor no texto.
                                        
                                            img.img-responsive.center-block(src="img/exemplo-foco.png", alt="A imagem exemplifica a ferramenta que faz um efeito de foco no texto")
                                
                                        p Segue abaixo o codigo de JS e de Css para fazer o botão:
                                        img.img-responsive(src="img/div.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Primeiro faça as duas div's no body, essas duas Div's vão ser o fundo "colorido", e a parti da posição delas
                                            | que você calcular o espaço para o foco do texto.
                                        img.img-responsive(src="img/botoes.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Depois crie o botao de foco, nesse exemplos temos todos os botões que foi utilizado no site.

                                        img.img-responsive(src="img/js1.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Aqui ativamos e desativamos as div's.

                                        img.img-responsive(src="img/js2.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Aqui pegamos a posição do mouse e calculamos a posição das Div's.


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")