extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Ferramentas Acessíveis
                                .conteudo
                                    .item
                                        p A segunda ferramenta que foi utilizado no site são os botoes para aumentar e diminuir 
                                            | a fonte do site.
                                        
                                        p Também ajudas aqueles que tem baixa visão e/ou algum tipo de tificuldade de leitura.

                                        p É bem simples de fazer, já havia mostrado antes o código com  a lista de botões para a barra
                                            | de acessibilidade, se você não viu, está em ferramentas acessíveis/Botão de foco. 
                                                                        
                                        img.img-responsive(src="img/css2.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Primeiro crie uma classe almentando as fontes de todos os elementos que você deseja,
                                            | essa classe ira no body, então todos os elementos serão filhas dela.
                                        
                                        img.img-responsive(src="img/js3.png", alt="Imagem mostra um pedaço do código como exemplo")
                                        p Depois é só ouvir o evento de click no botão, e adcionar ou remover a classe do body.
                                        p Se quiser adcionar varios tamanhos, é só criar uma arry com essas classes e depois manipular ele,
                                            | adcionando ou removendo as classes no body.


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")