extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Leitores de tela
                                .conteudo
                                    .item
                                        p Os leitores de tela funcionam indicando e lendo a localização do foco. Dentre as opções 
                                            | disponíveis, estão o JAWS, o NVDA e, no caso do Mac, o VoiceOver - leitor que vem integrado 
                                            | ao sistema operacional. Há também o Narrador no Windows, e outros.
                                        
                                        p Qual deles é o mais interessante? Nós precisamos fazer testes e ver o que de fato 
                                            | o usuário usa. Se ele utilizar o Windows 7, por exemplo, teremos que encontrar 
                                            | a melhor solução, testando as aplicações com este navegador. Da mesma forma, para 
                                            | saber qual leitor de tela é o melhor ou mais utilizado, pode-se consultar o site 
                                            a(href="https://webaim.org/" target="_blanck") WebAIM, 
                                            | totalmente focado em acessibilidade web.
                                        
                                        p Foi feita uma pesquisa em 2017, que indica qual leitor de tela é o mais utilizado, e o 
                                            | JAWS, junto com o NVDA, têm juntos 78.5% do market share, enquanto o VoiceOver é 
                                            | utilizado por 11.7%, pois é bem grande a quantidade de usuários de Mac. O JAWS, apesar 
                                            | de ser o mais usado, tem decaído em uso conforme a passagem dos anos. 
                                        
                                        p A barreira do JAWS é que a licença para a sua instalação em português custa cerca de 
                                            | R$8 mil, sendo um investimento alto para nós desenvolvedores testarmos em nossas 
                                            | interfaces. No caso do VoiceOver - disponível no Mac -, não há custo adicional, assim 
                                            | como o Narrador do Windows. Para desenvolver o web Reach, usei o NVDA, que aceita doações via 
                                            | PayPal, porém, não é compatível com Mac.  

                    .row
                        .col-sm-12
                            .bg-interno
                                h4.text-left.pd-20-bottom Referências
                                .referencia
                                    ul
                                        li 
                                            a(href="https://webaim.org/projects/screenreadersurvey7/" target="_blanck") Screen Reader User Survey #7 Results
                                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")