extends ./_layouts/layout-interno.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"+ version)
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"+ version)
    link(rel="stylesheet", href="css/style.css"+ version)
    

block content
    div.clearfix(role="main" style="margin-top:80px;")
        section(style="margin-top:40px;")
            article
                .container
                    .row
                        .col-sm-12
                            .bg-interno
                                h2.text-center.pd-20-bottom Baixa Visão e Deficiente Visual
                                .conteudo
                                    .item
                                        h4.text-left O que é:
                                        p As causas mais freqüentes de cegueira e visão subnormal são: Retinopatia da 
                                            | prematuridade causada pela imaturidade da retina, em decorrência de parto 
                                            | prematuro ou de excesso de oxigênio na incubadora. Catarata congênita em 
                                            | conseqüência de rubéola ou de outras infecções na gestação. Glaucoma congênito 
                                            | que pode ser hereditário ou causado por infecções. Atrofia óptica. Degenerações 
                                            | retinianas e alterações visuais corticais. A cegueira e a visão subnormal podem 
                                            | também resultar de doenças como diabetes, descolamento de retina ou traumatismos 
                                            | oculares. (GIL, 2000, p. 12).
                                        p Segundo Sá, Campos e Silva (2007) destacam, é complexo definir baixa visão devido às diversas 
                                            | manifestações e à intensidade de comprometimentos das funções visuais que acarretam. Pois 
                                            | os comprometimentos das funções visuais trazidos pela baixa visão englobam desde a 
                                            | dificuldade de percepção de luz até a redução da acuidade e do campo visual, as quais 
                                            | interferem ou limitam a execução de tarefas e o desempenho geral das pessoas com baixa visão.
                                        p Nesse contexto, a cegueira é definida como uma alteração parcial ou total que acomete a capacidade 
                                            | de “[...] perceber cor, tamanho, distância, forma, posição ou movimento.” (SÁ, CAMPOS e SILVA, 
                                            | 2007, p.15). A cegueira parcial engloba os casos em que, por exemplo, ainda há a capacidade dos 
                                            | indivíduos em enxergar e contar dedos a pouca distância, assim como de visualizar vultos. 
                                            | Portanto a cegueira total pressupõe completa perda de visão. A visão é totalmente nula, ou seja, 
                                            | nem a percepção luminosa está presente.


                                    .item
                                        h3.text-center Como fazer o layout respeitando as necessidades de pessoas com baixa visão:
                                        h4.pd-40-top.text-left Ter um bom contraste entre a fonte e o fundo 
                                        p e uma fonte de tamanho razoável, no mínimo 14px, deixar as informações com fácil acesso aos 
                                            | usuários, bem claras.
                                        p Chama-se visão subnormal (ou baixa visão, como preferem alguns especialistas) à alteração da 
                                            | capacidade funcional decorrente de fatores como rebaixamento significativo da acuidade 
                                            | visual, redução importante do campo visual e da sensibilidade aos contrastes e limitação 
                                            | de outras capacidades. Uma definição simples de visão subnormal é a incapacidade de 
                                            | enxergar com clareza suficiente para contar os dedos da mão a uma distância de 3 metros, à 
                                            | luz do dia; em outras palavras, trata-se de uma pessoa que conserva resíduos de visão.  




                    .row
                        .col-sm-12
                            .bg-interno
                                h4.text-left.pd-20-bottom Referências
                                .referencia
                                    ul
                                        li 
                                            a(href="http://cietenped.ufscar.br/submissao/index.php/2018/article/view/538/67") Acessibilidade digital no ambiete virtual de aprendizagem: recursos e ferramentas
                                   
                                    


block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js", type="text/javascript")