section.mg-40-top(aria-labelledby="tituloPalestras")
    article
        .container
            .row
                h2.text-center#tituloPalestras Dicas de palestras sobre <br> o tema acessibilidade
                .bg-palestras.col-sm-12
                    .palestras.col-sm-6.text-center
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width="460" height="315" src="https://www.youtube.com/embed/igGOeem6y4w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        h4.text-center.titulo-palestras Talita Pagani - Acessibilidade Web Cognitiva - BrazilJS Conf 2016
                        a.text-center(href="https://www.youtube.com/watch?v=igGOeem6y4w" target="_blank") Assistir no Youtube
                    .palestras.col-sm-6.text-center
                        .embed-responsive.embed-responsive-16by9
                            iframe.embed-responsive-item(width="460" height="315" src="https://www.youtube.com/embed/5FJJuEVt5sA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        h4.text-center.titulo-palestras Frontinsampa 2016 - Reinaldo Ferraz: Lang e Alt: Atributos da Pesada
                        a.text-center(href="https://www.youtube.com/watch?v=5FJJuEVt5sA" target="_blank") Assistir no Youtube
