section.mg-40-top(aria-labelledby="tituloPorque")
    article.bg-bolinhas
        .container
            .row
                h2.text-center#tituloPorque Porque fazer um site acessivel?
                .col-sm-12
                    p Para demonstrar um pouco mais da importancia da acessibilidade na web, segue o slider Acessibilidade - por que deixarmos de ser amadores para um público que espera mais de nós.
                    .apresentacao
                        a(href="https://www.slideshare.net/MarinaDomingues7/acessibilidade-por-que-deixarmos-de-ser-amadores-para-um-pblico-que-espera-mais-de-ns" target="_blanck")
                            img.img-responsive.center-block(src="img/apresentacao.jpg", alt="Acessibilidade - por que deixarmos de ser amadores para um público que espera mais de nós")