block settings
    - var title = 'Web Reach'
    - var version = "?v=1.0.0"
doctype
html(lang="pt")
    head
        include ../_partials/meta-tags
        include ../_partials/icons
        title #{title}
        block CSS
            link(rel="stylesheet", href="css/plugins.css")
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css" +  version )
            link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css" +  version  )  
            link(href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet")               

    body
        .foco-leitura(style="display:none;")
        .segundo-foco(style="display:none;")

        #loader
            img.loader-img.img-responsive(src="img/loader.gif" + version, alt="Lodder")
        .ir-topo#ir-topo(style="display:none")
            a#ir-topos(href="#banners", class="goesTo link-topo" title="Voltar para o topo")
                img(class="seta",src="img/seta.png", alt="voltar para o topo")

        .container-fluid.banners#banners
            #banner(aria-disabled="true")
                .row
                    .benner-full
                        .filtro
                .row
                    .benner-full2
                        .filtro
                .row
                    .benner-full3
                        .filtro
            .row
                img.img-responsive.center-block.logo(src="img/logo-webreach.png", alt="Web Reach")

        // menu-nobile
        .menu-mob-flutuante#menu-mob-flutuante.img-back-leort(style="display:none;")
            ul.display-menu-mob
                li 
                    a(class="link-topo",href="#inscricao", class="goesTo") Dicas para Layout
                li 
                    a(class="link-topo",href="#agenda", class="goesTo") Leitores de Tela
                li 
                    a(class="link-topo",href="#resultados", class="goesTo") Ferramentas acessivel
                li 
                    a(class="link-topo goesTo",href="#curso", class="goesTo" ) Contato

            .fechar-menu
                img(src="img/fechar.png", alt="Botão Fechar")

        // Header navegação
        header#topo(role="menubar" tabindex="0")
            .container-fluid#cabeca
                .row.center-vertical
                    .col-sm-12.text-center
                        // Navegação para desk
                        nav.visible-md.visible-lg
                            ul.display-menu
                                li.item-sub-menu 
                                    a(class="link-topo",href="http://localhost:3000/dicas-layouts.html", class="goesTo") Dicas para Layout
                                    ul.sub-menu
                                        li 
                                            a(href="http://localhost:3000/autistas.html") Para Autistas
                                        li 
                                            a(href="http://localhost:3000/audicao.html") Para Deficiêntes Auditivos
                                        li 
                                            a(href="http://localhost:3000/dislexos.html") Para  Dislexos
                                        li 
                                            a(href="http://localhost:3000/visao.html") Para Baixa Visão
                                li.item-sub-menu 
                                    a(class="link-topo",href="http://localhost:3000/leitor-tela.html", class="goesTo") Leitores de Tela
                                    ul.sub-menu
                                        li 
                                            a(href="http://localhost:3000/df-visual.html") Deficiência VIsual
                                        li 
                                            a(href="http://localhost:3000/wai-aria.html") Wai-aria
                                li.item-sub-menu  
                                    a(class="link-topo",href="#resultados", class="goesTo") Ferramentas acessivel
                                    ul.sub-menu
                                        li 
                                            a(href="http://localhost:3000/foco.html") Botão de Foco
                                        li 
                                            a(href="http://localhost:3000/fonte.html") Aumentar/ Diminuir a fonte
                                li 
                                    a(class="link-topo",href="http://localhost:3000/contato.html",  class="goesTo" )  Contato
                        .acessibilidade
                            a.btn.bnt-acessibilidade( href="#" aria-label="Ferramentas acessiveis")
                            .btn-acessiveis(style="display:none;")
                                ul
                                    li 
                                        a
                                            img.clicavel.ativo(id="foco" src="img/foco.png", alt="Ferramenta para ajudar na leitura do texto")
                                    li
                                        a
                                            img(id="maior" src="img/maior.png", alt="Aumentar a fonte")
                                    li
                                        a
                                            img(id="menor" src="img/menor.png", alt="Diminuir a fonte")
                                    li
                                        a
                                            img.fechar-acessivel#fechar-acessivel(src="img/fechar.png", alt="Fechar ferramentas acessiveis")   
                        
                        // Navegação para mob
                        nav.visible-xs.visible-sm
                                .menu-mob
                                    span.icon-bar
                                    span.icon-bar  
                                    span.icon-bar                   



        block content


        block footer   
            footer.footer.clearfix(aria-labelledby="Rodapé")
                .col-md-7.col-sm-12.menu-footer
                    ul.lista-footer
                        li.bold Dicas para layout
                            ul.sub-lista
                                li Para Autistas
                                li Para Deficiêntes Auditivos
                                li Para  Dislexos
                                li Para Baixa Visão

                        li.bold Ferramentas acessíveis
                            ul.sub-lista
                                li Botão de Foco
                                li Aumentar/ Diminuir a fonte

                        li.bold Leitores de tela
                            ul.sub-lista
                                li Leitores de tela
                                li Deficiência VIsual
                                li Wai-aria

                .col-md-5.col-sm-12.redes-sociais-footer
                    .icones-redes-sociais
                        a(href="/")
                            img(src="img/face.svg", alt="Ir para o faceboock da WebReach")
                        a(href="/")
                            img(src="img/youtube.svg", alt="Ir para o Youtube da WebReach")
                    .empresa
                        p Copyright© 2019, Web Reach


        block scriptsJS
            script(src="https://code.jquery.com/jquery-2.2.4.min.js" + version)
            script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" + version, type="text/javascript")
            script(src="/js/app.js")
            script(src="/js/barra-acessivel.js")
            script(src="/js/acessibilidade.js")